/*================================

 HOOX CMS
 SIERRA TRADING POST JAPAN
 JUSTIN JOHNSON 2010

 ================================*/
 

.c16, .c16oh {margin-left: auto; margin-right: auto; width: 960px; } 
.c16oh {overflow: hidden; }

.g1, .g2, .g3, .g4, .g5, .g6, .g7, .g8, .g9, .g10, .g11, .g12, .g13, .g14, .g15, .g16 {display: inline; float: left; margin-left: 10px; margin-right: 10px;} 
.g1 {width: 40px;} 
.g2 {width: 100px;} 
.g3 {width: 160px;} 
.g4 {width: 220px;} 
.g5 {width: 280px;} 
.g6 {width: 340px;} 
.g7 {width: 400px;} 
.g8 {width: 460px;} 
.g9 {width: 520px;} 
.g10 {width: 580px;} 
.g11 {width: 640px;} 
.g12 {width: 700px;} 
.g13 {width: 760px;} 
.g14 {width: 820px;} 
.g15 {width: 880px;} 
.g16 {width: 940px;}

.a {margin-left: 0;}
.o {margin-right: 0;}

.p1 {padding-left: 60px;} 
.p2 {padding-left: 120px;} 
.p3 {padding-left: 180px;} 
.p4 {padding-left: 240px;} 
.p5 {padding-left: 300px;} 
.p6 {padding-left: 360px;} 
.p7 {padding-left: 420px;} 
.p8 {padding-left: 480px;} 
.p9 {padding-left: 540px;} 
.p10 {padding-left: 600px;} 
.p11 {padding-left: 660px;} 
.p12 {padding-left: 720px;} 
.p13 {padding-left: 780px;} 
.p14 {padding-left: 840px;} 
.p15 {padding-left: 900px;}

.s1 {padding-right: 60px;} 
.s2 {padding-right: 120px;} 
.s3 {padding-right: 180px;} 
.s4 {padding-right: 240px;} 
.s5 {padding-right: 300px;} 
.s6 {padding-right: 360px;} 
.s7 {padding-right: 420px;} 
.s8 {padding-right: 480px;} 
.s9 {padding-right: 540px;} 
.s10 {padding-right: 600px;} 
.s11 {padding-right: 660px;} 
.s12 {padding-right: 720px;} 
.s13 {padding-right: 780px;} 
.s14 {padding-right: 840px;} 
.s15 {padding-right: 900px;} 

 

html {height:100%}
body {font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #5A574A; text-align:center; margin:0; background:url("http://s.stpost.com/img/trees3.jpg") repeat-x fixed center 275px transparent; height:100%; line-height:1;}
body, input, select {line-height: 1.5;}
a {color:#5A574A; cursor:pointer;}
a:hover {color:#5A574A;}

strong a {color:#5A574A;}
b a {color:#5A574A;}
img {border:none;}

h1, h2 {font-size:18px; font-weight: normal;} 
h4 {font-size: 12px; font-family: 'Trebuchet MS','Lucida Grande','Lucida Sans Unicode'; font-weight: bold; text-transform: uppercase; margin-bottom: 5px;}
h4 a:link    {color:#5A574A; cursor:pointer; text-decoration:none;}
h4 a:visited {color:#5A574A; text-decoration:none;}
h4 a:hover   {color:#de5401; text-decoration: underline;}
h4 a:active  {color:#5A574A; text-decoration:none;}
 


ul {padding:0; margin:0;}
ul li {padding:0; margin:0;}

.urgent { padding:8px; border:2px solid #F00; color:#F00; background:#FEE; font-weight:bold;}
.clear{clear:both;}
.wrapper {border-left:1px solid #CCC; border-right:1px solid #CCC; text-align:left; min-height:100%; background:#FFF;}
.logo {margin:0;}

/* PAGE HEADER STYLES */
.header {height:180px; background:url('/themes/stpca/header.jpg') no-repeat; padding:0; margin:0 0 25px 0;}
.header a{text-decoration:none;}
.logo {float:left; padding:20px 0 0 11px; height:108px;}
.stp_link {padding:10px 0 0 11px;}
.stp_link a{color:#363;}
.stp_link a:hover{color:#F90;}
.header .text {float:right; padding:40px 15px 0 0;}
.header .text ul{list-style:none; padding:0;  margin:0;}
.header .text ul li{padding:0 0 7px 0; margin:0; display:block; text-align:right;}

/* PAGE NAV STYLES */
.filterHeader {color:#5A574A; font-size: 15px; font-weight: bold;}
.content_left {border-right: 1px dotted #B9B5A0; float:left; margin: -1px;} /*margin:-1; to deal with the border that is pushing things around*/

.outgoing {margin-top:15px;}
.navigation {padding:0;}
.navigation ul {padding:0 0 3px 0; margin:0;}
.navigation ul li{ padding:1px 0;}
li.nav_item {margin:0; padding:0; list-style:none;}
li.nav_item a{color:#696969; text-decoration:none;}
li.nav_item a:hover{color:#363; text-decoration:underline;}
li.nav_item ul{display:none;}
li.nav_item ul.active{display:block; border-left:1px dotted #CCC;}
li.nav_item.last {border:none;}
li.nav_item a.active{color:#C70;}

.admin ul{display:block !important;}

/*BREADCRUMB STYLES */
.content_right .bread_crumb {margin:0 0 10px 0; padding:0; font-weight:bold; font-size:12px; color: #5A574A;}

/* ADSPACE STYLES */
.adspace{clear:both; width:700px; height:140px; margin:0 0 15px 0; text-align:center; border:1px solid #777; display:none; padding: 0 0 10px 0;}
.adspace .adspace_label {height:20px; background:#CCC; color:#333; text-align:left; padding:3px 0 0 8px; margin:0 0 15px 0; border-bottom:1px solid #777;}
.adspace .product_link {float:left; width:170px; margin:0; padding:0; text-align:center;}
.adspace .product_link img {width:80px;}

/* CONTENT STYLES */
.content_right ul {margin-left:28px;}
.content_right {float:left;}
.content_right p {margin: 0 40px 20px 0;}
.chatLink {cursor:pointer; text-decoration:underline;}
.content_right h1 {margin-bottom: 20px; padding-bottom: 10px; padding-top: 10px; border-top: 1px dotted #B9B5A0; border-bottom: 1px dotted #B9B5A0;}
.content_right h2 {margin-bottom: 20px; padding-bottom: 10px; padding-top: 10px; }

.shop_now {text-align: right; width:660px; float:right; font-size:14px; margin: 0 40px 5px 0;}
.shop_now a{color: #de5401; font-weight: bold;}

/* FOOTER STYLES */
.footer {padding:10px 0 20px 0; background:#FFF; border-right:1px solid #CCC; border-right:1px solid #CCC; border-left:1px solid #CCC; margin:0 auto; line-height:2;}
.footer_text{text-align:center; padding:0 0 10px 0;}

.footer a {text-decoration:none;}
.copyright {font-size:10pt; color:#BBB;}
.copyright a{color:#BBB;}

/* ROUNDED EDGES */
.wrapper_bottom {background:url('/themes/stpca/round-bottom.gif') no-repeat; height:22px; width:960px; margin:0 auto;}
.footer_top {background:url('/themes/stpca/round-top.gif') no-repeat; height:12px; width:960px; margin:0 auto;}
