/*================================

 HOOX CMS
 SIERRA TRADING POST JAPAN
 JUSTIN JOHNSON 2010

 ================================*/

html {height:100%}
body {font-family:Helvetica,Arial,sans-serif; font-size:10pt; text-align:center; margin:0; background:url('/themes/stpca/body_bg.gif') repeat; height:100%;}
a {color:#5A574A;}
a:hover {color:#5A574A;}
strong a {
                color:#5A574A;
}
b a {
                color:#5A574A;
}
div {}
p { color:#5A574A; font-family:Arial, Helvetica, sans-serif; font-size:10pt; text-align:left; margin: 10px 0 15px 0; line-height:20px;  }
h1 {margin:0; padding:0; font-weight:bold; font-size:14pt; color:#363; border-bottom:1px solid #CCC;}
h2 {margin:23px 0 3px 0; font-weight:bold; font-size:12pt; color:#363; border-bottom:1px dotted #CCC;}
h3 {}
img { margin-bottom: 0px;}

.contentHeader {
     border-bottom: 1px dotted #B9B5A0;
     font-size: 18px;
     padding-bottom: 10px;

}

.contentHeader a {
     text-decoration: none;
     padding-top: 30px;
display:block;
}

ul {padding:0; margin:0;}
ul li {padding:0; margin:0;}

.urgent { padding:8px; border:2px solid #F00; color:#F00; background:#FEE; font-weight:bold;}
.clear{clear:both;}
.wrapper {width:960px; margin:0 auto; border-left:1px solid #CCC; border-right:1px solid #CCC; text-align:left; min-height:100%; background:#FFF;}
.logo {margin:0;}

/* ADSPACE STYLES */
.adspace{clear:both; width:700px; height:140px; margin:0 0 15px 0; text-align:center; border:1px solid #777; display:none; padding: 0 0 10px 0;}
.adspace .adspace_label {height:20px; background:#CCC; color:#333; text-align:left; padding:3px 0 0 8px; margin:0 0 15px 0; border-bottom:1px solid #777;}
.adspace .product_link {float:left; width:170px; margin:0; padding:0; text-align:center;}
.adspace .product_link img {width:80px;}

/* NAV STYLES */
.content_left ul li {list-style:none;}
.content_right ul {margin-left:28px;}
.outgoing {margin-top:15px;}
.navigation {padding:5px 5px 5px 0; bottom left repeat-x;}
.navigation ul {padding:0 0 3px 0; margin:0;}
.navigation ul li{ padding:1px 0;}
li.nav_item {margin:0; padding:0; list-style:none;}
li.nav_item a{color:#5A574A; text-decoration:none;}
li.nav_item a:hover{color:#363; text-decoration:underline;}
li.nav_item ul{display:none;}
li.nav_item ul.active{display:block; border-left:1px dotted #CCC;}
li.nav_item.last {border:none;}
li.nav_item a.active{color:#C70;}

.admin ul{display:block !important;}


/* ROUNDED EDGES */
.wrapper_bottom {background:url('/themes/stpca/round-bottom.gif') no-repeat; height:22px; width:960px; margin:0 auto;}
.footer_top {background:url('/themes/stpca/round-top.gif') no-repeat; height:12px; width:960px; margin:0 auto;}

/* HEADER STYLES */
.header {height:120px; background:url('/themes/stpca/header.jpg') no-repeat; padding:0; margin:0 0 25px 0;}
.header a{text-decoration:none;}
.logo {float:left; padding:20px 0 0 11px; height:108px;}
.stp_link {padding:10px 0 0 11px;}
.stp_link a{color:#363;}
.stp_link a:hover{color:#F90;}
.header .text {float:right; padding:40px 15px 0 0;}
.header .text ul{list-style:none; padding:0;  margin:0;}
.header .text ul li{padding:0 0 7px 0; margin:0; display:block; text-align:right;}

/* CONTENT STYLES */
.content_main {padding:10px; margin:0;}
.content_right {margin:0; padding:0; width:700px; float:right;}
.content_left {width:180px; margin:0; padding:0 0 10px 0;}
.content_right .bread_crumb {width:700px; margin:0 0 10px 0; padding:3px 0 3px 3px; font-weight:bold; font-size:9pt;}
.chatLink {cursor:pointer; text-decoration:underline;}


/* FOOTER STYLES */
.footer {width:960px; padding:10px 0 20px 0; background:#FFF; border-right:1px solid #CCC; border-right:1px solid #CCC; border-left:1px solid #CCC; margin:0 auto;}
.footer_text{text-align:center; padding:0 0 10px 0;}
.copyright {font-size:10pt; color:#BBB;}
.copyright a{color:#BBB;}
