/*================================
	HOOX ADMIN STYLE SHEET
	JUSTIN JOHNSON, 2011
 ================================*/

body {
	font-family:Helvetica,Arial,sans-serif;
	font-size:9pt;
	color:#777;
	margin:0;
	padding:0 0 0 20px;
	height:100%;
}

a {
	color:#ce7b00;
}

a:hover {
	color:#ce7b00;
}

h1 {
	color:#ce7b00;
	padding:0;
	padding:0 0 5px 0;
	font-size:16pt;
}

h2 {
	color:#666;
	padding:0;
	padding:20px 0 5px 0;
	font-size:14pt;
}

h3 {
	color:#777;
	padding:0;
	padding:20px 0 5px 0;
	font-size:14pt;
}

.urgent {
	font-weight:bold;
	border:1px solid #ce7b00;
	background:#fdf3df;
	color:#ce7b00;
	margin:10px 0 10px 0;
	padding:10px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.header {
	height:135px;
}

.content_main {
	width:1000px;
}

.content_right {
	padding:10px 10px 0 10px;
	float:right;
	width:760px;
	margin:0;
}

.footer {
	clear:both;
	padding-top:10px;
	font-style:italic;
}

.content_left {
	padding:0px 10px 10px 10px;
	width:200px;
	background:#777;
	border:1px solid #444;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

.content_left h3 {
	color:#FFF;
}

.content_left ul {
	margin:0;
	padding:0 0 0 10px;
}

.content_left ul li {
	list-style:none;
	font-size:10pt;
	padding:0 0 3px 0;
}

.content_left ul li a {
	color:#FFF;
	text-decoration:none;
}

.content_left ul li a:hover {
	color:#F90;
	text-decoration:underline;
}

.navigation {
	margin:5px 5px 5px 0;
}

.navigation a {
	text-decoration:none;
}

.navigation ul {
	padding:0;
	margin:0 0 3px 8px;
}

li.nav_item {
	margin:0;
	padding:4px 0 4px 4px;
	list-style:none;
}

li.nav_item ul{
	display:block;
}

li.nav_item ul.active {
	display:block;
	border-left:1px dashed #999;
}

li.active {
	background:url('/admin/images/whitescreen.png') repeat;
}

li.nav_item.last {
	border:none;
}

li.nav_item a.active{
	color:#7f1d27;
}

table.form {
	width:750px;
	border-collapse:collapse;
}

table.form tr {
}

table.form td {
	padding:5px;
	text-align:left;
}

table.form input, table.form select {
	border:1px solid #CCC;
	width:400px;
	height:35px;
	padding:0 0 0 8px;
	font-weight:bold;
	color:#777;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

table.form input.submit {
	cursor:pointer;
	background:#ce7b00;
	color:#FFF;
}

table.form textarea {
	width:750px;
	height:650px;
	border:1px solid #CCC;
}

table.form textarea.small {
	width:750px;
	height:150px;
	border:1px solid #CCC;
}

a.js_button {
	cursor:pointer;
}