/*================================
 
 HOOX CMS
 TinyMCE Styles
 JUSTIN JOHNSON 2010 
 
 ================================*/
body {font-family:Helvetica,Arial,sans-serif; font-size:10pt;}
a {color:#3939a6;}
a:hover {color:#F90;}
div {}
p {}
h1 {margin:0; padding:0; font-weight:bold; font-size:14pt; color:#00F; border-bottom:1px solid #CCC;}
h2 {margin:23px 0 3px 0; font-weight:bold; font-size:12pt; color:#00F; border-bottom:1px dotted #CCC;}
h3 {}
img{border:0;}