/*================================
 
 HOOX CMS
 DEFAULT SCREEN STYLES
 JUSTIN JOHNSON 2010 
 
 ================================*/


/* DEFAULT STYLES */
html {}
body {font-family:Arial,sans-serif; font-size:10pt; margin:0;}
a {color:#666; text-decoration: none;}
a:hover {color:#000; text-decoration:underline;}
div {}
p {}
h1 {margin:0; font-weight:bold; font-size:14pt;}
h2 {margin:0; font-weight:bold; font-size:12pt;}
h3 {margin:0; font-weight:bold; font-size:12pt;}
img{border:0;}

ul {padding:0; margin:0;}
ul li {padding:0; margin:0 0 0 5px;}

.urgent { padding:8px; border:1px solid #F00; color:#F00;}
.wrapper {width:800px; margin:0 auto; border:1px solid #CCC; text-align:left;}

/* NAV STYLES */
.navbox {border:1px solid #CCC; padding:0; margin:0 0 20px 0;}
.navbox a{color:#777; font-weight:normal; font-size:9pt; text-decoration:none;}
.navbox a:hover{color:#000; text-decoration:underline;}
.navbox .navbox_title {color:#000; padding:0 0 0 10px; font-weight:bold; font-size:11pt; height:21px;}
.navbox .navbox_content {padding:5px;}
.navbox .navbox_content ul {list-style:none; padding:0; margin:0;}
.navbox .navbox_content ul li {list-style:none; padding:0; margin:0;}
.navbox .navbox_content ul li ul{border-left:1px dotted #9B9;}
.navbox .navbox_content ul li ul li {margin:0 0 0 8px;}

/* HEADER STYLES */
.header {}
.logo {}

/* CONTENT STYLES */
.content_main {}
.content_main ul {}
.content_right {margin:0; padding:10px; width:580px; float:right;}
.content_left {margin:0; padding:10px; width:179px; border-right:1px solid #CCC; float:left;}
.bread_crumb {width:780px; background:#EEE; padding:10px; font-weight:bold; font-size:9pt;}

/* FOOTER STYLES */
.footer {clear:both;}
.footer_text{}